<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:margin-right="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./output.css" />
  </head>
  <body>
    <div class="a">
      <div class="b">
        <div class="c info-box">
          <div class="d">XXX</div>
          <div class="e">xxxx</div>
          <div class="f">xxx@123gmail.com</div>

          <p class="g">
            <span style="font-weight: 700">Payment Method:</span>
            <span
              th:text="${invoiceData.paymentMethod}"
              style="
                --tw-text-opacity: 1;
                color: rgb(161 161 170 / var(--tw-text-opacity));
              "
            ></span>
          </p>
        </div>
        <div class="h"></div>

        <div class="i">
          <div class="j">INVOICE</div>
          <p class="k"></p>
          <p style="margin-top: 0.5cm; color: white; font-weight: bold"></p>

          <div style="position: relative; bottom: 1.25rem">
            <span style="color: white; font-weight: 700">Invoice No:</span>
            <span
              th:text="${invoiceData.invoiceNumber}"
              style="color: white"
            ></span>
            <span class="l">Date:</span>
            <span
              th:text="${invoiceData.issuanceDate}"
              style="color: white"
            ></span>
          </div>
        </div>
      </div>
      <div class="m"></div>

      <div class="ope-full n"></div>
      <!-- body -->
      <div class="o">
        <div class="p">
          <div>
            <p class="w">Invoice To:</p>
            <p class="q" th:text="${client.clientName}"></p>
            <p class="q" th:text="${client.address}"></p>
            <p class="q" th:text="${client.contactEmail}"></p>
          </div>
          <div style="text-align: right">
            <p class="w">Pay to:</p>
            <p class="q" th:text="${deal.dealName}"></p>
            <p class="q" th:text="${deal.officeAddress}"></p>
            <p class="q" th:text="${deal.mailId}"></p>
          </div>
        </div>
        <table style="width: 100%">
          <!--            <tr class="text-centre text-white"-->
          <!--                style="background-color: rgb(59 130 246 / var(&#45;&#45;tw-bg-opacity)); box-shadow: 0 4px 8px rgba(1, 2, 2, 2);">-->
          <!--                <th class="text-centre ">Description</th>-->
          <!--                <th class="text-centre ps-4">Price</th>-->
          <!--                <th class="text-centre pe-18">Qty</th>-->
          <!--                <th class="text-centre pe-10+">Total</th>-->
          <!--            </tr>-->

          <!--            <tr class="text-centre text-white" style="background-color: rgb(59 130 246 / var(&#45;&#45;tw-bg-opacity)); box-shadow: 0 4px 8px rgba(1, 2, 2, 2);">-->
          <!--                <th class="text-centre" style="width: 30%;">Description</th>-->
          <!--                <th class="text-centre ps-4" style="width: 25%;">Price</th>-->
          <!--                <th class="text-centre pe-18" style="width: 20%;">Qty</th>-->
          <!--                <th class="text-centre pe-10+" style="width: 25%;">Total</th>-->
          <tr class="x">
            <th style="padding: 1rem">Description</th>
            <th style="padding-inline-start: 0.5rem">Price</th>
            <th style="width: 20%">Qty</th>

            <th style="width: 25%">Total</th>
          </tr>
          <!--            </tr>-->

          <tr
            th:each="lineItem : ${lineItems}"
            style="
              box-shadow: 0 4px 8px rgba(1, 1, 1, 2);
              text-align: center;
              --tw-text-opacity: 1;
              color: rgb(161 161 170 / var(--tw-text-opacity));
              font-weight: 700;
            "
          >
            <!--                <td class="w-[25%] p-4" th:text="${lineItem.id}"></td>-->
            <td
              style="width: 30%; padding: 0.5rem; text-align: center"
              th:text="${lineItem.itemDescription}"
            ></td>
            <td
              style="
                width: 15%;
                padding-inline-start: 0.5rem;
                text-align: center;
              "
              th:text="${lineItem.totalAmount}"
            ></td>
            <td
              style="width: 18%; text-align: center"
              th:text="${lineItem.quantity}"
            ></td>
            <td
              style="text-align: center; padding-inline-end: 1rem"
              th:text="${lineItem.totalAmount}"
            ></td>
          </tr>

          <!-- Operating Expenses -->

          <tr
            style="
              box-shadow: 0 4px 8px rgba(1, 2, 2, 2);
              text-align: center;
              --tw-text-opacity: 1;
              color: rgb(161 161 170 / var(--tw-text-opacity));
              font-weight: 700;
            "
          >
            <td style="padding-right: 20px; width: 25%; padding: 1rem">
              OPE Expense
            </td>
            <td style="width: 30%; padding: 0.5rem; text-align: center"></td>
            <td
              style="
                width: 13%;
                padding-inline-start: 0.5rem;
                text-align: center;
              "
            ></td>
            <!-- <td class="w-[500%] pe-4" th:text="${invoiceData.opeTotalAmount}"></td> -->
            <td>50</td>
          </tr>

          <!--                <td class="w-[30%] p-2 text-center" th:text="Your Operating Expense Description"></td>-->
          <!--                <td class="w-[18%] ps-2 text-center" th:text="Your Operating Expense Amount"></td>-->
          <!--                <td class="w-[18%] text-center" th:text="1"></td>-->
          <!--                <td class="text-center pe-4" th:text="Your Operating Expense Amount"></td>-->
        </table>

        <div style="display: flex; justify-content: space-between">
          <div style="margin-top: 0.5rem">
            <p style="font-weight: 700">Payment info:</p>
            <p
              style="
                --tw-text-opacity: 1;
                color: rgb(161 161 170 / var(--tw-text-opacity));
              "
            >
              Credit Card - <span th:text="${creditNoteNumber}"></span>
            </p>
            <p
              style="
                --tw-text-opacity: 1;
                color: rgb(161 161 170 / var(--tw-text-opacity));
              "
            >
              Amount - <span th:text="${invoiceData.amount}"></span>
            </p>
          </div>
          <div style="border-width: 1px; width: 44%">
            <!-- Display Subtotal -->
            <div
              style="
                box-shadow: 0 4px 8px rgba(1, 2, 2, 2);
                display: flex;
                justify-content: space-between;
                border-bottom-width: 1px;
                padding: 0.75rem;
                font-weight: 700;
              "
            >
              <p>
                Subtotal:
                <span th:text="${subtotal}" style="padding-left: 10px"></span>
              </p>
            </div>

            <!-- Display Tax -->
            <div class="y">
              <p>
                Tax:
                <span th:text="${totalTax}" style="padding-left: 10px"></span>
              </p>
            </div>

            <!-- Display Discount -->
            <div class="y">
              <p>
                Discount:
                <span
                  th:text="${invoiceData.discounts}"
                  style="padding-left: 10px"
                ></span>
              </p>
            </div>

            <!-- Display Grand Total -->
            <div
              class="y"
              style="
                --tw-bg-opacity: 1;
                background-color: rgb(59 130 246 / var(--tw-bg-opacity));
                font-weight: 700;
                --tw-text-opacity: 1;
                color: rgb(255 255 255 / var(--tw-text-opacity));
              "
            >
              <p>
                Grand Total:
                <span th:text="${grandTotal}" style="padding-left: 10px"></span>
              </p>
            </div>
          </div>
        </div>

        <table>
          <caption
            style="
              --tw-text-opacity: 1;
              color: rgb(161 161 170 / var(--tw-text-opacity));
              font-weight: 700;
            "
          >
            Out of Pocket Expenses
          </caption>
          <tr
            style="
              --tw-text-opacity: 1;
              color: rgb(255 255 255 / var(--tw-text-opacity));
              background-color: rgb(59 130 246 / var(--tw-bg-opacity));
              box-shadow: 0 4px 8px rgba(1, 2, 2, 2);
            "
          >
            <th style="padding: 1rem">Description</th>
            <th style="padding-inline-start: 0.5rem">Amount</th>
          </tr>
          <tr
            th:each="invoiceStatus : ${invoiceStatus}"
            style="
              box-shadow: 0 4px 8px rgba(1, 1, 1, 2);
              text-align: center;
              --tw-text-opacity: 1;
              color: rgb(161 161 170 / var(--tw-text-opacity));
              font-weight: 700;
            "
          >
            <td
              style="width: 30%; padding: 0.5rem; text-align: center"
              th:text="${invoiceStatus.expenseDescription}"
            ></td>
            <td
              style="
                width: 18%;
                padding-inline-start: 0.5rem;
                text-align: center;
              "
              th:text="${invoiceData.opeTotalAmount}"
            ></td>
          </tr>
        </table>
        <div style="display: flex; justify-content: space-between">
          <div class="border w-[44%] total-section">
            <!-- Display OPE Total -->
            <div
              style="
                box-shadow: 0 4px 8px rgba(1, 2, 2, 2);
                display: flex;
                justify-content: space-between;
                border-bottom-width: 1px;
                padding: 0.75rem;
                --tw-bg-opacity: 1;
                background-color: rgb(59 130 246 / var(--tw-bg-opacity));
                font-weight: 700;
                --tw-text-opacity: 1;
                color: rgb(255 255 255 / var(--tw-text-opacity));
              "
            >
              <p>
                Total Expenses:
                <span
                  th:text="${invoiceData.opeTotalAmount}"
                  style="padding-left: 10px"
                ></span>
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <!-- Tax Table -->
          <div>
            <table>
              <caption
                style="
                  --tw-text-opacity: 1;
                  color: rgb(161 161 170 / var(--tw-text-opacity));
                  font-weight: 700;
                "
              >
                Total Due
              </caption>
              <tr
                style="
                  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
                  box-shadow: 0 4px 8px rgba(1, 2, 2, 2);
                  --tw-text-opacity: 1;
                  color: rgb(255 255 255 / var(--tw-text-opacity));
                "
              >
                <th style="padding: 1rem">Total Before Tax</th>
                <th style="padding-inline-start: 0.5rem">Total Tax</th>
              </tr>
              <tr
                th:each="tax : ${tax}"
                style="
                  box-shadow: 0 4px 8px rgba(1, 1, 1, 2);
                  text-align: center;
                  --tw-text-opacity: 1;
                  color: rgb(161 161 170 / var(--tw-text-opacity));
                  font-weight: 700;
                "
              >
                <td
                  th:text="${tax.taxAmount}"
                  style="width: 30%; padding: 0.5rem; text-align: center"
                ></td>
                <td
                  th:text="${tax.totalTax}"
                  style="
                    width: 18%;
                    padding-inline-start: 0.5rem;
                    text-align: center;
                  "
                ></td>
              </tr>
            </table>
          </div>

          <div style="display: flex; justify-content: space-between">
            <div style="border-width: 1px; width: 44%">
              <!-- Display Grand Total -->
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  border-bottom-width: 1px;
                  padding: 0.75rem;
                  --tw-bg-opacity: 1;
                  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
                  font-weight: 700;
                  --tw-text-opacity: 1;
                  color: rgb(255 255 255 / var(--tw-text-opacity));
                  box-shadow: 0 4px 8px rgba(1, 2, 2, 2);
                "
              >
                <p>
                  Grand Total:
                  <span th:text="${totalTax}" style="padding-left: 10px"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="z">
        <div>
          <div class="sign">signature here</div>
          <p
            style="
              --tw-text-opacity: 1;
              color: rgb(161 161 170 / var(--tw-text-opacity));
            "
          ></p>
          <p style="font-weight: 600">Accounts Manger</p>
        </div>
      </div>
      <hr />
      <!-- footer -->
      <footer style="padding-bottom: 10rem">
        <p style="text-align: center; margin-top: 1.25rem; font-weight: 700">
          Payment Information:
        </p>
        <p style="text-align: center">
          Please make the payment by the due date to avoid late fees.<br />
          Payment methods accepted: Bank Transfer, Check, Online Payment
          (specify details).
        </p>

        <p
          style="
            margin-top: 5px;
            margin-left: 15px;
            text-align: left;
            font-weight: 700;
          "
        >
          For Bank Transfer:
        </p>
        <p style="margin-left: 20px">
          Account Name: [Your Company Name]<br />
          Account Number: [123456789]<br />
          Bank Name: [Bank Name]<br />
          SWIFT/BIC: [Code]<br />
          IBAN: [IBAN Number]
        </p>

        <p
          style="
            margin-top: 5px;
            margin-left: 195px;
            text-align: left;
            font-weight: 700;
          "
        >
          Thank you for your business:
        </p>
        <p style="text-align: center">
          If you have any questions about this invoice<br />
          please contact [Your Name or Department] at [Your Email] or [Your
          Phone Number]<br />
        </p>
      </footer>
    </div>
  </body>
</html>
